
body {
    background-color:rgb(104, 179, 223);
}
/* Header */
header{
    background-color: rgb(78, 146, 211);
    border-bottom: 4px solid rgb(13, 110, 201);
    text-align: center;
}

h1 { font-size: 5em;
    font-family: 'Love Light', cursive;
    padding: 0.2em 0 0.2em 0;
}

header aside{
    font-family: 'Satisfy', cursive;
    font-size: 2em;    
    padding-bottom: 0.5em;
}

header ul{
    display: flex;
    justify-content: space-between;
    margin: 0 10em 0 10em;
    padding-bottom: 1em;
}

/* Container */
.container{
    width: 50%;
    margin: auto;
    background-color:rgb(104, 179, 223);
}

h2 {
    
}